spring:
  application:
    name: backend-job-manager

  datasource:
    url: jdbc:postgresql://localhost:5432/job_manager_db
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    token:
      secret: javagas_123#
